<div class="data-table">
  <mat-table #table [dataSource]="datas">

    <ng-container matColumnDef="cartodb_id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>

      <mat-cell *matCellDef="let element">
        {{element.cartodb_id}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cap_number">
      <mat-header-cell *matHeaderCellDef>Number</mat-header-cell>

      <mat-cell *matCellDef="let element">
        {{element.cap_number}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_received">
      <mat-header-cell *matHeaderCellDef>Received</mat-header-cell>

      <mat-cell *matCellDef="let element">
        {{element.date_received}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dist_occurrence">
      <mat-header-cell *matHeaderCellDef>Distance</mat-header-cell>

      <mat-cell *matCellDef="let element">
        {{element.dist_occurrence}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="general_cap_classification">
      <mat-header-cell *matHeaderCellDef>Classification</mat-header-cell>

      <mat-cell *matCellDef="let element">
        {{element.general_cap_classification}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="summary">
      <mat-header-cell *matHeaderCellDef>Summary</mat-header-cell>

      <mat-cell *matCellDef="let element">
        {{element.summary}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
    <mat-row *matRowDef="let row; columns: headers;"></mat-row>

  </mat-table>

  <mat-paginator #paginator
                  [pageSize]="2"
                  [pageSizeOptions]="[10, 25, 50, 250, 1000]"
                  [showFirstLastButtons]="true">
  </mat-paginator>
</div>
