[Unit]
Description=Cypher Philly
After=neo4j.service

[Service]
ExecStart=/usr/bin/node /opt/server/cypherphilly/server.js 3000
Type=simple
User=ubuntu
Restart=on-failure

[Install]
WantedBy=multi-user.target
