[Unit]
Description=Cypher Philly Staging
After=neo4j.service

[Service]
ExecStart=/usr/bin/node /opt/server/cypherphilly/staging/server.js 3001
Type=simple
User=ubuntu
Restart=on-failure

[Install]
WantedBy=multi-user.target
