.app-toolbar {
  span {
    cursor: pointer;
  }

  .toolbar-item, .toolbar-logo {
    margin-top: 9px;
    width: 52px;
  }

  .toolbar-logo {
    img {
      width: 100%;
    }
  }

  .toolbar-title {
    width: 100%;
    text-align: center;

    font-size: 46px;
  }
}
