.icon-card {
  width: 270px;
  height: 325px;
  padding: 10px;
  margin-bottom: 40px;
  display: inline-block;
  box-shadow: 0px 0px 1px grey;
  cursor: pointer;

  .icon-card-image {
    width: 150px;
    height: 150px;
    margin: 30px auto;
    //box-shadow: 0px 0px 1px grey;

    img {
      width: 95%;
      margin: 2.5%;
    }
  }

  .icon-card-title {
    width: 60%;
    height: 110px;
    margin: auto;
    text-align: center;
    line-height: 1.2;
    font-size: 200%;
    overflow: hidden;
  }
}

.icon-card:hover {
  background-color: #F0F0F0;
}
