.image-content-component {
  width: 80%;
  margin: auto;

  .image-content-image, .image-content-section {
    width: 49%;
    display: inline-block;
  }

  .image-content-image {
    img {
      margin-top: 35px;
      width: 85%;
    }
  }

  .image-content-section {
    vertical-align: top;
    text-align: center;

    .image-content-title {
      height: 60px;
      padding: 15px;
    }
  }
}
