body {
  margin: 0;
}

@mixin header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.app-header {
  @include header;

  z-index: 1;
}

.app-container {
  margin: 0 10%;
  width: 80%;
  min-width: 300px;

  .app-title {
    text-align: center;
  }

  .page-header {
    @include header;

    background-color: white;
  }

  .app-content {
    margin: auto;
  }
}

// Mobile Styling
@media only screen and (max-width: 480px)  {
  .app-container {
    margin: 8px;
    width: 100%;
  }
}
