@font-face {
  font-family: gotham;
  src: url(/assets/fonts/GothamRoundedMedium_21022.ttf),
       url(/assets/fonts/GothamRounded-Medium.otf) format("opentype");
}

@font-face {
  font-family: gotham-bold;
  src: url(/assets/fonts/GothamRoundedBold_21016.ttf),
       url(/assets/fonts/GothamRounded-Bold.otf) format("opentype");
}

@font-face {
  font-family: gotham-book;
  src: url(/assets/fonts/GothamRoundedBook_21018.ttf),
       url(/assets/fonts/GothamRounded-Book.otf) format("opentype");
}

@font-face {
  font-family: gotham-light;
  src: url(/assets/fonts/GothamRoundedLight_21020.ttf),
       url(/assets/fonts/GothamRounded-Light.otf) format("opentype");
}
