.home-page {
  margin-top: 24px;
}

.home-subsection-title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 60px;

  h1 {
    font-size: 70px;
    font-family: "PT Serif";
  }
}

.home-icon-cards {
  width: 900px;
  margin: auto;
  padding-left: 45px;

  .home-icon-card {
    margin: 27px 64px;
    margin-bottom: 20px;
    display: inline-block;
  }
}
