<div class="page-header">
  <h1 class="app-title">
    Cypher Philly
  </h1>
</div>

<image-content [imageUrl]="mainContentImageUrl"
      [text]="mainContentText"
      [title]="mainContentTitle">
</image-content>

<div class="home-subsection-title">
  <h1>
    Title
  </h1>
</div>

<div class="home-icon-cards">
  <div class="home-icon-card" *ngFor="let learnmore of learnMoreCards">
    <icon-card [title]="learnmore.title" [image]="learnmore.image">
    </icon-card>
  </div>
</div>

<!--
<div class="page-content">
  <div class="mission" Markdown path="/content/mission.md"></div>
</div>
-->
